{% extends 'base.html' %}
{% block content %}

<div class="login-container">
{% if form.errors %}
  <p class='login-invalid'>Invalid login credentials. Try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p class='login-invalid'>Permission denied. If you are seeing this page in error, contact domain administrator.</p>
  {% else %}
    <p class='login-invalid'>You must be logged in to view this page.</p>
  {% endif %}
{% endif %}


<form class="login-form" id="login-form" action="/accounts/login/" method="post">
  <div class="login-header">Log in to Echo Social Network</div>
  {% csrf_token %}

  <input class="login-username" type="text" name="username" autofocus="true" autocapitalize="none" autocomplete="username" maxlength="25" id="username" placeholder="Username" required>

  <input class="login-password" type="password" name="password" autocomplete="current-password" id="password" placeholder="Password" required>

  <div style="margin-top: 5px">
    {{form.captcha}}
  </div>

  <input class="login-submit" id="submit" type="submit" value="Log In">
  <input type="hidden" name="next" value="{{next}}">

  <div class="login-no-account">
    If you do not have an account, <a id="signup-redirect" href="/users/signup/">Sign Up</a>.
  </div>
</form>
</div>
<script>
  window.onload = () => {
    if (window.location.search.length > 0) {
      let redirect = document.getElementById("signup-redirect");
      redirect.href += window.location.search;
    }
  }
</script>

{% endblock %}