{% extends 'base.html' %}
{% block content %}
<div class="article-section-container">
  <div class="article-container">
    <div class="article-header">
      <a class="article-return" href="/browse/{{article.category}}/">
        <svg viewBox="4 4 15 15" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M8 12L16 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M11 9L8.08704 11.913V11.913C8.03897 11.961 8.03897 12.039 8.08704 12.087V12.087L11 15" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      </a>
      <div class="article-category">{{article.category|capfirst}}</div>
    </div>

    <div class="article-card" onclick="location.href='{{article.url}}'">
      <div class="article-image">
        <img src="{{article.image}}" alt="{{article.category | capfirst}} News Image">
      </div>

      <div class="article-info">
        <div class="article-source">{{article.source}}</div>
        <div class="article-date">{{article.date}}</div>
      </div>

      <div class="article-title">{{article.title}}</div>
    </div>


    <div class="article-description">{{article.description}}</div>
    <div class="article-content">{{article.content}}</div>

    <div class="article-actions">
      <div class="article-comment">
        <div class="article-comment-icon">
          <svg viewBox="0 0 24 24" height="24px" width="24px" fill="none" transform="matrix(1, 0, 0, 1, 0, 0)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g clip-path="url(#clip0_429_11106)">
                <path d="M12 21C16.9706 21 21 16.9705 21 12C21 7.02941 16.9706 2.99997 12 2.99997C7.02944 2.99997 3 7.02941 3 12C3 13.4876 3.36093 14.8909 4 16.1272L3 21L7.8728 20C9.10904 20.639 10.5124 21 12 21Z" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <rect x="7.5" y="12" width="0.01" height="0.01" stroke-width="3.75" stroke-linejoin="round"></rect>
                <rect x="12" y="12" width="0.01" height="0.01" stroke-width="3.75" stroke-linejoin="round"></rect>
                <rect x="16.5" y="12" width="0.01" height="0.01" stroke-width="3.75" stroke-linejoin="round"></rect>
              </g>
              <defs>
                <clipPath id="clip0_429_11106">
                  <rect width="24" height="24" fill="white"></rect> 
                </clipPath>
              </defs>
            </g>
          </svg>
        </div>
        <div class="article-comment-count">

        </div>
      </div>

      <div class="article-share">
        <div class="article-share-icon">
          <svg viewBox="0 30 576 432" width="26px" height="26px">
            <path d="M272 416c17.7 0 32-14.3 32-32s-14.3-32-32-32H160c-17.7 0-32-14.3-32-32V192h32c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-64-64c-12.5-12.5-32.8-12.5-45.3 0l-64 64c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8l32 0 0 128c0 53 43 96 96 96H272zM304 96c-17.7 0-32 14.3-32 32s14.3 32 32 32l112 0c17.7 0 32 14.3 32 32l0 128H416c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l64 64c12.5 12.5 32.8 12.5 45.3 0l64-64c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8l-32 0V192c0-53-43-96-96-96L304 96z"></path>
          </svg>
        </div>
        <div class="article-share-count">

        </div>
      </div>
    </div>
  </div>
</div>
{% if comments == none %}
<div class="article-comment-none">
  <div>No comments available.</div>
  <div>Be the first to comment on this article!</div>
</div>
{% else %}
{% for comment in comments %}
<div class='section-container'>
  <div class='post-container'>
    <div class='post-avatar'>
      <img class='post-avatar-img' onclick="location.href='/users/profile/{{comment.details.echouser.uuid}}/'';" src="{{comment.details.echouser.avatar.url}}">
    </div>

    <div class='post-body' onclick="location.href='/posts/{{comment.details.uuid}}/';">
      <div class='post-source'>
        <div class='post-user'>{{comment.details.echouser.username}}</div>
        <div class='post-date'>{{comment.details.when_posted}}</div>
        <input type="hidden" name='post-uuid' value="{{comment.details.uuid}}">
      </div>
      <div class='post-content'>
        <p>{{comment.details.post}}</p>
      </div>
    </div>

    <form class='post-actions-form'>
      <div class='post-actions' id="{{comment.details.uuid}}">
        <div class='post-reply'>
          <div class='post-reply-icon'>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z"/>
            </svg>
          </div>
        </div>

        <div class='post-reply-count'>{{comment.details.num_replies}}</div>

        <div class='post-repost'>
          <div class="post-repost-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 30 576 432"><path d="M272 416c17.7 0 32-14.3 32-32s-14.3-32-32-32H160c-17.7 0-32-14.3-32-32V192h32c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-64-64c-12.5-12.5-32.8-12.5-45.3 0l-64 64c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8l32 0 0 128c0 53 43 96 96 96H272zM304 96c-17.7 0-32 14.3-32 32s14.3 32 32 32l112 0c17.7 0 32 14.3 32 32l0 128H416c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l64 64c12.5 12.5 32.8 12.5 45.3 0l64-64c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8l-32 0V192c0-53-43-96-96-96L304 96z"/>
            </svg>
          </div>
        </div>

        <div class="post-repost-count">{{comment.details.num_reposts}}</div>

        <div class="post-like{{comment.liked}}">
          <div class="post-like-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/>
            </svg>
          </div>
        </div>

        <div class="post-like-count">{{comment.details.num_likes}}</div>
      </div>
    </form>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}