{% extends 'base.html' %}
{% block content %}
<div class="browse-header-container">
  <div class="browse-header">
    <form class="browse-search-bar" action="/browse/search/posts/">
      <input class="browse-search-input" type="search" name="q" autocomplete="off" placeholder="Search Echo for users and content..." required>
    </form>

    <div class="browse-categories">

      {% if articles.0.category == 'entertainment' %}
      <a class="browse-world" href="/browse/world/"><div>World</div></a>
      <a class="browse-entertainment active" href="/browse/entertainment/"><div>Entertainment</div></a>
      <a class="browse-tech" href="/browse/technology/"><div>Tech</div></a>

      {% elif articles.0.category == 'technology' %}
      <a class="browse-world" href="/browse/world/"><div>World</div></a>
      <a class="browse-entertainment" href="/browse/entertainment/"><div>Entertainment</div></a>
      <a class="browse-tech active" href="/browse/technology/"><div>Tech</div></a>
      
      {% else %}
      <a class="browse-world active" href="/browse/world/"><div>World</div></a>
      <a class="browse-entertainment" href="/browse/entertainment/"><div>Entertainment</div></a>
      <a class="browse-tech" href="/browse/technology/"><div>Tech</div></a>
      {% endif %}

    </div>
  </div>
</div>

<div class="browse-container">

  {% for article in articles %}

    <div class="section-container">
      <a class="search-article" href="/browse/{{article.category}}/{{article.uuid}}">
        <div class="search-article-image">
          <img src="{{article.image}}" alt="news article image" />
        </div>

        <div class="search-article-text">
          <div class="search-article-title">{{article.title}}</div>
          <div class="search-article-source">{{article.source}}</div>
        </div>
      </a>
    </div>

  {% endfor %}

</div>

{% endblock %}