{% extends 'base.html' %}
{% block content %}

<div class="search-header-container">
  <div class="search-header">

    {% if category == 'posts' %}
    <form action="/browse/search/posts/" class="browse-search-bar">
      <input type="search" name="q" class="browse-search-input" value="{{query}}" autocomplete="off" placeholder="Search Echo for users and content..." required>
    </form>

    <div class="search-categories">
      <a href="/browse/search/posts/?q={{query}}" class="search-posts active">Posts</a>
      <a href="/browse/search/articles/?q={{query}}" class="search-articles">Articles</a>
      <a href="/browse/search/users/?q={{query}}" class="search-users">Users</a>
    </div>
    {% elif category == 'articles' %}
    <form action="/browse/search/articles/" class="browse-search-bar">
      <input type="search" name="q" class="browse-search-input" value="{{query}}" autocomplete="off" placeholder="Search Echo for users and content..." required>
    </form>

    <div class="search-categories">
      <a href="/browse/search/posts/?q={{query}}" class="search-posts">Posts</a>
      <a href="/browse/search/articles/?q={{query}}" class="search-articles active">Articles</a>
      <a href="/browse/search/users/?q={{query}}" class="search-users">Users</a>
    </div>
    {% else %}
    <form action="/browse/search/users/" class="browse-search-bar">
      <input type="search" name="q" class="browse-search-input" value="{{query}}" autocomplete="off" placeholder="Search Echo for users and content..." required>
    </form>

    <div class="search-categories">
      <a href="/browse/search/posts/?q={{query}}" class="search-posts">Posts</a>
      <a href="/browse/search/articles/?q={{query}}" class="search-articles">Articles</a>
      <a href="/browse/search/users/?q={{query}}" class="search-users active">Users</a>
    </div>
    {% endif %}

  </div>
</div>

<input type="hidden" name="" id="search-total" value="{{total}}">

<div class="search-container">
  {% if category == 'posts' %}
  {% endif %}

  {% if category == 'articles' %}
    {% for article in results %}
    <div class="section-container">
      <a class="search-article" href="/browse/{{article.category}}/{{article.uuid}}">
        <div class="search-article-image">
          <img src="{{article.image}}" alt="news article image" />
        </div>

        <div class="search-article-text">
          <div class="search-article-title">{{article.title}}</div>
          <div class="search-article-source">{{article.source}}</div>
        </div>
      </a>
    </div>
    {% endfor %}
  {% endif %}

  {% if category == 'users' %}
    {% for user in results %}
    <div class="section-container">
      <a href="/users/profile/{{user.uuid}}" class="search-user-container">
        <img class="search-user-avatar" src="{{user.avatar.url}}">
        <div class="search-user-info">
          <div class="search-user-name">{{user.username}}</div>
          {% if user.bio|length > 0 %}
          <div class="search-user-bio">{{user.bio}}</div>
          {% endif %}
        </div>
      </a>
    </div>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}