/* RESET STYLING DEFAULTS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,aside,canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END OF RESET */


/* ECHO DEFAULTS */
* {
  box-sizing: border-box !important;
}

*::selection {
  background: #20c14745 !important;
  color: #c2c !important;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

body {
  font-family: 'coda';
}

/* SCROLLBAR */
body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #83f100aa;
  border: 1px outset #43a100aa;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #63d100aa;
}

/* ----------------------------- HEADER BAR ----------------------------- */
header {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 60px;
  box-shadow: 0 -7px 3px -7px #ffffff66 inset;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 2;
}

/* logo */
.header-container {
  display: flex;
  height: inherit;
  width: 1140px;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
  color:#eeeeee;
}

/* auth buttons */
.auth-container {
  display: flex;
  width: 180px;
  height: 30px;
  justify-content: space-between;
}

.auth {
  width: 80px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logout {
  color: #dc3545;
  margin-left: 60px;
}

.logout:hover {
  color: #fc5565;
  background-color: #fc556533;
}

.login {
  color: #3d8eff;
}

.login:hover {
  color: #4daeff;
  background-color: #4daeff33;
}

.signup {
  color: #20c147;
}

.signup:hover {
  color: #40e167;
  background-color: #40e16733;
}

.login-btn,
.logout-btn {
  display: none;
}

@media(max-width: 1199.98px) {
  .header-container {
    width: calc(1140px * (8/9));
  }

  .logo-container {
    margin-left: 75px;
  }

  .auth-container {
    margin-right: 55px;
  }
}

@media(max-width: 991.98px) {
  .header-container {
    width: calc(1140px * (6/9));
  }

  .header-container {
    justify-content: center;
  }

  .logo-container {
    justify-self: center;
    margin-left: 0;
  }

  .logo {
    display: none;
  }

  .auth-container {
    display: none;
  }

  .login-btn,
  .logout-btn {
    display: flex;
    position: absolute;
    right: 15px;
  }
}


/* ----------------------------------- MAIN ----------------------------------- */
main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh);
  background-color: #161616;
  padding-top: 60px;
}

/* ---------- LOGIN & SIGNUP ---------- */
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #1f1f1f;
  border-radius: 20px;
  padding: 20px 0;
  margin-top: 20px;
}

.login-username,
.login-password,
.login-bio,
.login-avatar,
.login-submit {
  font-family: 'coda';
  margin: 10px 0;
  width: 90%;
  font-size: 15px;
}

.login-username,
.login-password {
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #333333;
  color: #e1e1e1;
}

.login-bio {
  padding: 10px;
  resize: none;
  border: 2px inset #888888;
  border-radius: 10px;
  background-color: #333333;
  color: #e1e1e1;
}

.login-avatar {
  display: none;
}

.login-avatar-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 88%;
  margin-top: 5px;
}

.login-avatar-button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #ff4555;
  border-color: #fd5565;
  color: #fff990;
}

.login-avatar-path {
  width: calc(100% - 100px);
  background-color: #1f1f1f;
  height: 30px;
  font-size: 16px;
  text-align: center;
}

.login-submit {
  width: 100px;
  height: 30px;
  margin: 20px 0 0 0;
  border-radius: 10px;
  background-color: #20a147;
  border-color: #40e167;
  color: #e1e1e1;
}

/* ---------- NAVIGATION ---------- */
.nav-container {
  width: calc(1140px * (2/9));
}


.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px inset #83f100;
  margin: 20px 0 0 20px;
  position: fixed;
}

.guest-text {
  height: 25px;
  width: 180px;
  border-radius: 5px;
  color:gold;
  font-size: 20px;
  padding: 3px 0 0 7px;
  margin-top: 100px;
  background-color: #ffffff22;
  position: fixed;
}

/* Post Button */
.new-post {
  display: flex;
  text-decoration: none;
  width: 150px;
  height: 50px;
  margin: 150px 0 0 0;
  position: fixed;
}

.new-post-container {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  color: #1f1f1f;
  background-color: #83f100;
  border-radius: 30px;
  font-size: 22px;
}

.new-post-container:hover {
  background-color: #63d100;
}

.new-post-icon {
  height: 1em;
  width: 1em;
  stroke: #1f1f1f;
  fill: #1f1f1f;
  margin: 0 15px 0 20px;
}

.new-post-container:hover,
.new-post-container:hover > .new-post-icon {
  color: #ffe150;
  fill: #ffe150;
}

@media(max-width: 991.98px) {
  .user-avatar {
    margin: 0;
    position: fixed;
    top: 4px;
    left: 4px;
    height: 50px;
    width: 50px;
  }

  .user-link {
    position: fixed;
    top: 4px;
    left: 4px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .guest-text {
    display: none;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  }

  .new-post {
    height: 70px;
    width: 70px;
    justify-content: center;
    position: fixed;
    top: 85px;
    right: 15px;
    margin: 0;
  }

  .new-post-container {
    border-radius: 50%;
    justify-content: center;
  }

  .new-post-text {
    display: none;
  }

  .new-post-icon {
    height: 1.2em;
    width: 1.2em;
    margin: 0;
  }
}

@media(max-width: 767.98px) {
  .new-post {
    height: 50px;
    width: 50px;
    top: 4px;
    right: 4px;
  }

  .new-post-icon {
    height: 1em;
    width: 1em;
  }
}

/* Nav List */
nav {
  position: fixed;
  margin-top: 200px;
}

.nav-list {
  margin-left: 20px;
}

.nav-item {
  text-decoration: none;
  color: #83f100;
  fill: #83f100;
  font-size: 20px;
}

.nav-icon {
  height: 0.9em;
  width: 0.9em;
  margin: 40px 10px 0 0;
}

.nav-item:hover {
  background-color: #ffff0066;
  border-radius: 20px 20px;
  box-shadow: 0 0 10px 10px #ffff0066;
}

@media(max-width: 1199.98px) {

  .nav-container {
    width: 190px;
  }
}

@media(max-width: 991.98px) {
  .nav-container {
    width: 0;
  }

  nav {
    margin: 0;
    top: 60px;
    left: 10px;
    height: 100%;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
  }

  .nav-text {
    display: none;
  }

  .nav-icon {
    height: 2em;
    width: 2em;
    margin: 0;
  }

  .nav-item:hover {
    background-color: #00000000;
    box-shadow: 0 0 0 0 #00000000;
  }

  .nav-icon:hover {
    background-color: #ffff0066;
    box-shadow: 0 0 10px 10px #ffff0066;
    border-radius: 10px;
  }
}

@media(max-width: 767.98px) {
  nav {
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1f1f1f;
    padding-top: 3px;
    border-top: 1px solid #333333;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    width: inherit;
    margin: 0;
    justify-content: space-around;
    align-items: center;
  }

  .nav-icon {
    margin: 0;
  }
}

/* INTERACTIVE CONTENT */
section {
  width: calc(1140px * (4/9));
  color: #e1e1e1;
}

/* SUGGESTED CONTENT */
aside {
  width: calc(1140px * (3/9));
  background-color: #ffffff00;
}

@media(max-width: 1199.98px) {
  aside {
    width: calc(1140px * (2/9));
  }
}

@media(max-width: 991.98px) {
  aside {
    display: none;
  }
}

@media(max-width: 767.98px) {
  section {
    padding-bottom: 60px;
  }
}

@media(max-width: 575.98px) {
  section {
    width: 375px;
  }
}

/* ----------------------------------- CREATE_POST.HTML ----------------------------------- */
.create-post-container {
  background-color: #1f1f1f;
  height: 250px;
  width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}

.create-post-text {
  resize: none;
  font-family: 'coda';
  font-size: inherit;
  width: 420px;
  border-radius: 10px;
  padding: 5px 8px;
  height: 175px;
  background-color: #fbfbfb;
}

.create-post-submit {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #ffe150;
  background-color: #161616;
  color: #ffe150;
}

.create-post-submit:hover {
  background-color: #ffe15055;
}

@media(max-width: 575.98px) {
  .create-post-container {
    width: 350px;
    height: 260px;
  }

  .create-post-text {
    width: 325px;
    height: 200px;
  }
}


/* ------------------------- INDEX.HTML ------------------------- */

.section-container {
  padding: 15px 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.post-container {
  background-color: #1f1f1f;
  border-radius: 15px;
  border: 0.5px outset #444444;
  padding: 10px 10px 5px 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.post-avatar {
  width: 60px;
  height: 60px;
}

.post-avatar-img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  cursor: pointer;
}

.post-body {
  width: 400px;
  padding: 0 0 0 10px;
}

.post-source {
  width: 390px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.post-user {
  color:#ffe150;
}

.post-date {
  color: #ffe15085;
  font-size: 14px;
}

.post-content {
  width: 100%;
  overflow-wrap: break-word;
}

.post-content > p {
  color: #e1e1e1;
}

.post-actions-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-actions {
  width: 100%;
  margin: 10px 0 0 7%;
  display: flex;
  cursor: pointer;
}

.post-reply,
.post-repost,
.post-like {
  width: 16.5%;
  display: flex;
  justify-content: center;
  fill: #ffe15085;
}

.post-reply:hover,
.post-repost:hover,
.post-like:hover {
  fill: #ffe150d9;
}

.post-reply.active,
.post-repost.active,
.post-like.active {
  fill: #ffe150;
}

.post-reply-icon,
.post-like-icon {
  width: 18px;
}

.post-repost-icon {
  width: 23px;
}

.post-reply-count,
.post-repost-count,
.post-like-count {
  width: 16.5%;
  height: 21px;
  font-size: 16px;
  padding: 2px 0 0 0;
  color: #ffffcccc;
}

/* Write Reply */
.post-reply-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.post-reply-box {
  width: 90%;
  height: 100px;
  border-radius: 10px;
  font-size: 14px;
  resize:none;
}

#post-reply-submit {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #ffe150;
  background-color: #161616;
  color: #ffe150;
  margin: 10px 0 5px;
}

.post-reply-submit:hover {
  background-color: #ffe15055;
}

.post-reply-to {
  width: 100%;
  color: #ffe15075;
  font-size: 15px;
  padding: 0 0 10px 5px;
}

.post-reply-to > span {
  font-size: 14px;
  padding-top: 10px;
}

.reply-container {
  background-color: #ffffff02;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}

.post-repost-form {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000055;
  z-index: 10;
}

.post-repost-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 496px;
  max-height: 100%;
  background-color: #292929cc;
  transform: translate(-50%, -50%);
  border: 1px solid #444444cc;
  border-radius: 20px;
  padding-bottom: 10px;
}

#post-repost-clone {
  display: flex;
  width: 100%;
  padding: 10px 10px 0;
}

.post-repost-box {
  width: 95%;
  height: 150px;
  resize: none;
  background-color: #ffffffcc;
  border-radius: 20px;
  padding: 5px 10px;
}

#post-repost-submit {
  width: 96px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid;
  margin-top: 10px;
  color: #83f100;
  background-color: #161616;
}

.repost-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 12%);
  padding: 2%;
  font-size: 15px;
  border: 1px groove #444444;
  border-radius: 10px;
  margin: 15px 0 5px;
}

.repost-avatar {
  grid-column: span 1;
  grid-row: span 2;
}

.repost-source {
  grid-column: span 7;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.repost-user {
  color: #ffe150ee;
}

.repost-time {
  font-size: 13px;
  color: #ffe15085;
}

.repost-avatar > img {
  width: 100%;
  border-radius: 50%;
}

.repost-content {
  grid-column: span 7;
  padding: 0 5px;
  color: #e1e1e1;
}

.repost-content > p {
  overflow-wrap: break-word;
}


@media(max-width: 575.98px) {
  .post-body {
    width: 265px;
  }

  .post-source {
    width: 255px;
  }

  .post-content {
    width: 255;
  }
  .post-repost-container {
    max-width: 360px;
  }
}

@media(max-width: 374.98px) {
  .section-container {
    width: 100%;
    margin: 15px 0;
    padding: 0;
  }

  .post-container {
    width: 100%;
    padding: 2vw;
  }

  .post-avatar {
    width: 15vw;
    height: 15vw;
  }

  .post-body {
    width: 76vw;
    padding-left: 2vw;
  }

  .post-source {
    width: 70vw;
  }

  .post-content {
    width: 70vw;
  }

  .post-date {
    font-size: 12px;
  }

  .repost-time {
    font-size: 11px;
  }

  .repost-source {
    padding: 0 2%;
  }

  .repost-content {
    padding: 0 2%;
  }

  .repost-container {
    padding: 2px;
    font-size: 13px;
  }
}

/* ------------------------- PROFILE.HTML ------------------------- */

.profile-banner {
  height: 100px;
  flex-basis: 100%;
  background-color: #292929;
  border-radius: 40px 40px 0 0;
  border-top: 0.5px outset #505050;
  border-left: 0.5px outset #505050;
  border-right: 0.5px outset #505050;
}

.profile-avatar {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 35px;
  left: 30px;
}

.profile-avatar > img {
  height: inherit;
  width: inherit;
  border-radius: inherit;
}

.profile-details {
  width: 100%;
  background-color: #1f1f1f;
  border-radius: 0 0 20px 20px;
  border-bottom: 0.5px outset #505050;
  border-left: 0.5px outset #505050;
  border-right: 0.5px outset #505050;
}

.profile-container {
  display: flex;
  flex-basis: 100%;
  margin-right: 10px;
}

.profile-container.a {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.profile-container.a > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  font-family: 'righteous';
  font-size: 15px;
  font-weight: 200;
  border-width: 2px;
  border-style: outset;
  border-radius: 20px;
}

.profile-container.a > div:nth-of-type(2):hover {
  border-style: inset;
  padding-top: 2px;
  padding-left: 2px;
  cursor: pointer;
  color: #e1e1e1dd;
}

.profile-follow {
  background-color: #83f10088;
  border-color: #83ff0099;
  color: #333333;
}

.profile-unfollow {
  background-color: #dc3545bb;
  border-color: #dd4455ee;
  color: #333333;
}

.profile-edit {
  background-color: #ffe150aa;
  border-color: #ffe150bb;
  color: #333333;
}

.profile-time-container {
  display: flex;
  justify-content: end;
  flex-basis: 65%;
}

.profile-time {
  line-height: 15px;
  font-size: 12px;
}

.profile-time.a {
  color: #ffe15085;
  margin-right: 10px;
}

.profile-time.b {
  color: #ffffcccc;
  width: 90px;
}

@media(max-width: 575.98px) {
  .profile-time {
    display: none;
  }
}

.profile-container.b {
  flex-direction: column;
  padding: 5px 25px;
}

.profile-user {
  color: #ffe150;
  font-size: 18px;
}

.profile-tag {
  color: #ffe15075;
}

.profile-email {
  color: #ffe15075;
  font-size: 14px;
}

.profile-bio {
  color: #ffffcccc;
}

.profile-container.c {
  font-size: 20px;
  color: #ffe15095;
  margin: 10px 0 0;
  justify-content: space-between;
}

.profile-container.c > div {
  display: flex;
  flex-basis: calc(100% / 3);
  height: 40px;
  justify-content: center;
  align-items: center;
}

.profile-container.c > div:hover{
  color: #ffe150d5;
  cursor: pointer;
}

.profile-follow-container {
  width: 70%;
  display: flex;
  padding: 5px 6%;
  justify-content: space-between;
  margin-top: 5px;
}

.profile-follow-item:nth-of-type(1n) {
  display: flex;
  width: 50%;
  justify-content: left;
}

.profile-following,
.profile-followers {
  color: #ffe150d5;
}

.profile-following-count,
.profile-followers-count {
  color: #ffe15095;
  text-align: right;
  margin-right: 10px;
}



/* AVATAR MANIPULATION */
.crop-container {
  width: 375px;
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}

@media(max-width: 376px) {
  .crop-container {
    width: 100%;
  }
}

.crop-container.active {
  display: flex;
  justify-content: space-between;
}

.crop-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #292929aa;
  border-radius: 10px;
  margin-top: 10px;
  width: 250px;
}

.crop-toolbar > * {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 330px;
}

.crop-image {
  display: inline-block;
  height: 175px;
  width: 175px;
  border-radius: 50%;
  overflow: hidden;
}

.crop-base {
  position: relative;
}

.crop-selector {
  position: absolute;
  border: 1px solid #ffffff;
  z-index: 2;
}

.crop-cancel,
.crop-submit {
  height: 30px;
  width: 60px;
  border-radius: 10px;
}

.crop-cancel {
  background-color: #dc3545;
  border-color: #ff4555;
  color: #ffffff;
}

.crop-submit {
  background-color: #3d8eff;
  border-color: #4daeff;
  color: #ffffff;
}

.crop-preview {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.crop-image-and-dirs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  width: 280px;
}

@media(max-width: 375.98px) {
  .crop-image-and-dirs {
    height: 250px;
    width: 250px;
  }
}

.crop-direction {
  border-style: solid;
  height: 30px;
  width: 30px;
  background-color: #00000000;
  color: #00000000;
  padding: 0;
}

.crop-x {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crop-y {
  display: flex;
  width: 100%;
  justify-content: center;
}

.crop-up {
  border-color: transparent transparent #efd15055;
  border-width: 0 20px 20px;
}

.crop-up.active {
  border-color: transparent transparent #efd150;
}

.crop-up.active:hover {
  border-color: transparent transparent #fff150;
}

.crop-right {
  border-color: transparent transparent transparent #efd15055;
  border-width: 20px 0 20px 20px;
}

.crop-right.active {
  border-color: transparent transparent transparent #efd150;
}

.crop-right.active:hover {
  border-color: transparent transparent transparent #fff150;
}

.crop-down {
  border-color: #efd15055 transparent transparent;
  border-width: 20px 20px 0;
}

.crop-down.active {
  border-color: #efd150 transparent transparent;
}

.crop-down.active:hover {
  border-color: #fff150 transparent transparent;
}

.crop-left {
  border-color: transparent #efd15055 transparent transparent;
  border-width: 20px 20px 20px 0;
}

.crop-left.active {
  border-color: transparent #efd150 transparent transparent;
  border-width: 20px 20px 20px 0;
}

.crop-left.active:hover {
  border-color: transparent #fff150 transparent transparent;
}


/* ------------------------------ PRIVATE MESSAGES ------------------------------ */
.message-container {
  height: calc(100vh - 80px);
  margin: 10px;
  width: auto;
  border-radius: 15px;
  border: 1px solid #333333;
}

.message-header {
  width: 100%;
  border-radius: 15px 15px 0 0;
  background-color: #1f1f1f;
  border-bottom: 1px solid #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-content {
  height: calc(100% - 60px);
  width: 100%;
  border-radius: 0 0 15px 15px;
  background-color: #1f1f1f88;
}

.message-to-user {
  display: flex;
  align-items: center;
  height: 60px;
  width: 95%;
}

.message-to-user > div {
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
}

.message-to-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message-to-username {
  font-family: 'righteous';
  font-size: 20px;
  color: #ffe150;
  width: 100%;
  text-align: center;
}

.user-search-results {
  position: absolute;
  width: 325px;
  background-color: #000000cc;
  border-radius: 0 0 15px 15px;
}

.user-search-results.message {
  margin: 0 0 0 45px;
}

.user-search-results.message > div {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.null-result {
  color: #cc9565;
  background-color: #00000044;
  justify-content: center;
}

.user-search-result {
  justify-content: left;
  border-radius: 20px;
}

.user-search-result:hover {
  background-color: #ffffff44;
  cursor: pointer;
}

.user-search-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 20px;
}

.user-search-avatar > img {
  height: inherit;
  width: inherit;
  border-radius: inherit;
}

.user-search-username {
  color: #ffe150aa;
}

.conversation {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message-dialogue-container {
  height: 100%;
  overflow-y: scroll;
}

.message-dialogue {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  flex-shrink: 1;
}

.message-write {
  width: 100%;
  padding: 15px 0;
  border-radius: 0 0 15px 15px;
  background-color: #232323;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.message-write-input {
  width: 80%;
  resize:none;
  background-color: #1f1f1f;
  color: #e1e1e1;
  border: 1px inset #111111;
  border-radius: 20px;
  font-size: 15px;
  height: 40px;
  padding: 9px;
}

.message-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #63d100;
  border: 1px outset #63d100;
}

.message-send:hover {
  border-style: inset;
  background-color: #63d100ee;
}

.message-send > svg {
  height: 20px;
  width: 20px;
}

.message-send:hover > svg {
  transform: translate(1px, 1px);
}

.message-dialogue-container::-webkit-scrollbar-track {
  background: #00000000;
}

.message-dialogue-container::-webkit-scrollbar-thumb {
  background: #55555599;
  border-color: #555555;
}

.message-dialogue-container::-webkit-scrollbar-thumb:hover {
  background: #66666699;
}

.message-write-input::-webkit-scrollbar {
  display: none;
}

.message-sent-container,
.message-received-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.message-sent-container {
  align-items: end;
}

.message-received-container {
  align-items: start;
}

.message-sent,
.message-received {
  word-wrap: break-word;
  padding: 10px;
  max-width: 250px;
}

.message-sent {
  background-color: #444444;
  border-radius: 10px 10px 0 10px;
  
}

.message-received {
  background-color: slateblue;
  border-radius: 10px 10px 10px 0;
}

.message-timestamp {
  font-size: 14px;
  color: #ffffff44;
}

@media(max-width: 767.98px) {
  .message-container {
    height: calc(100vh - 140px);
  }
}

@media(max-width: 575.98px) {
  .message-container {
    min-height: calc(100vh - 120px);
    border-radius: 0;
    border-style: groove;
    border-color: #333333;
    border-top: none;
    margin: 0;
  }

  .message-header {
    border-radius: 0;
  }

  .user-search-results {
    width: 225px;
  }

  .user-search-results.message {
    margin: 0 0 0 28px;
  }

  .message-content {
    border-radius: 0;
  }

  .message-write {
    border-radius: 0;
  }
}

@media(max-width: 375.98px) {
  .user-search-results {
    width: 100%;
    border-radius: 20px;
  }

  .user-search-results.message {
    margin: 0;
    left: 0;
    right: 0;
  }
}


/* ------------------------------ Message Thread List ------------------------------ */
.chat-list-container {
  background-color: #1d1d1d;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid #404040;
}

.chat-list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chat-to {
  width: 85%;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  margin: 15px 0;
}

.chat-user-search {
  width: calc(100% - 30px);
  border: 1px inset #11111188;
  background-color: #1c1c1c;
  font-size: inherit;
  color: #777777;
  height: 30px;
  border-radius: 20px;
  padding: 0 0 0 10px;
}

.chat-to-label {
  width: 30px;
  color: #777777;
}

.chat-list {
  width: 100%;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #333333;
  overflow-y: scroll;
  border-radius: 0 0 15px 15px;
}

.chat-instance {
  display: flex;
  padding: 15px 15px 15px 5px;
  margin-left: 10px;
  font-size: 16px;
  border-top: 1px groove #333333;
}

.chat-instance:first-of-type {
  border-top: none;
}

.chat-instance:hover {
  background-color: #ffffff11;
}

.chat-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chat-details {
  width: 100%;
  padding: 5px 0 5px 10px;
}

.chat-user {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px 0;
}

.chat-user-username {
  color: #efd150;
}

.chat-user-timestamp {
  color: #ffe15085;
  font-size: 15px;
}

.chat-preview-message {
  color: #777777;
}

@media(max-width: 767.98px) {
  .chat-list-container {
    min-height: calc(100vh - 140px);
  }
}

@media(max-width: 575.98px){
  .chat-list-container {
    min-height: calc(100vh - 120px);
    border-radius: 0;
    border-style: groove;
    border-color: #333333;
    border-top: none;
    margin: 0;
  }
}

.chat-list::-webkit-scrollbar-track {
  background: #00000000;
}

.chat-list::-webkit-scrollbar-thumb {
  background: #55555599;
  border-color: #555555;
}

.chat-list::-webkit-scrollbar-thumb:hover {
  background: #66666699;
}


/* ------------------------------ ALERTS/NOTIFICATIONS ------------------------------ */
.alert-section-container {
  padding: 10px 0;
  border-radius: 20px;
  background-color: #1f1f1f88;
  border: 1px solid #292929;
  margin: 10px;
}

@media(max-width:575.98px){
  .alert-section-container {
    margin: 0;
    border-radius: 0;
  }
}

.alerts-date {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  padding: 3px 0;
  color: #b1b1b1;
}

.alert-container {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid #292929;
}

#alerts-h1 {
  font-size: 24px;
  text-align: center;
  margin: 0 0 5px;
}

.alert-icon-container {
  text-align: center;
  width: 50px;
}

.alert-avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.alert-content {
  margin: 5px 0 0 0;
  color: #e1e1e1aa;
  overflow-wrap: break-word;
}

.alert-link {
  color: #ffe150dd;
}




/* Page Under Construction */
.construction-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 260px;
  background-color: #292929;
  border-radius: 20px;
  border: 1px outset #11111188;
  font-size: 18px;
  color: #efd150;
  fill: #efd150;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.construction-icon {
  height: 1.2em;
  width: 1.2em;
}

.construction-text {
  font-size: 1em;
  margin: 0 10px;
}

/* Settings */
.settings-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #292929;
  border-radius: 20px;
  padding: 20px;
}

.settings-signup,
.settings-login,
.settings-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  margin: 20px;
}

.settings-signup {
  background-color: #20c147aa;
  color: #e1e1e1;
  border: 1px outset #20c147aa;
}

.settings-login {
  background-color: #3d8effaa;
  color: #e1e1e1;
  border: 1px outset #3d8effaa;
}

.settings-logout {
  background-color: #dc3545cc;
  color: #e1e1e1;
  border: 1px outset #dc3545cc;
}

/* Aside Content */
.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  width: calc(1140px * 3/9);
  height: calc(100vh - 60px);
  padding: 10px 20px;
}

.side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  background-color: #1f1f1f;
  overflow: hidden;
  color: #83f100;
  font-size: 16px;
  font-family: 'righteous';
  padding: 5px 0;
  margin: 10px 0 10px;
}

.side-container:nth-of-type(1) {
  margin: 0 0 10px;
}

.side-user {
  display: flex;
  align-items: center;
  width: 75%;
  height: 50px;
  margin: 0 0 10px;
  overflow: hidden;
}

.side-avatar,
.side-avatar > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.side-username {
  padding-left: 10px;
  color: #ffe150;
}

.news-container {
  display: flex;
  font-family: 'coda';
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
}

.news-link {
  display: flex;
  height: 100%;
  width: 100%;
  color: #e1e1e1;
}

.news-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  padding: 3px 0;
  width: 100%;
}

.news-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.news-title {
  height: 100%;
  overflow: hidden;
  height: 70px;
}

.news-source {
  color: #40e167aa;
  height: 14px;
  overflow: hidden;
}

.news-actions {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  margin-left: 10px;
}

@media(max-width: 1199.98px) {
  .side {
    width: calc(1140px * 2/9);
    padding: 10px 0;
  }

  .side-user {
    width: 90%;
    overflow-x: hidden;
  }
}

/* ---------------------------------------- BROWSE APP ----------------------------------- */
.browse-container {
  width: inherit;
  padding: 10px;
  margin: 85px 0 0 0;
}

.browse-header-container {
  position: fixed;
  width: inherit;
  padding: 10px 10px 0;
  background-color: #161616;
}

.browse-header {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #1f1f1f;
  border: 1px outset #1f1f1f88;
  width: 100%;
  align-items: center;
  box-shadow: 0 0 10px 10px #16161688;
}

.browse-search-bar {
  display: flex;
  width: 90%;
  margin: 10px 0 0 0;
}

.browse-search-input {
  flex-grow: 1;
  border-radius: 20px;
  flex-basis: 100px;
  background-color: #1c1c1c;
  border: 1px inset #1c1c1c;
  padding: 0 10px;
  font-size: 15px;
  color: #e1e1e1;
}

.browse-search-button {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  margin: 0 0 0 10px;
  border: 1px #83f100aa;
  background-color: #83f100aa;
  color: #fff1b0;
}

.browse-categories {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 10px 0 5px 0;
  font-size: 18px;
}

.browse-world,
.browse-tech,
.browse-entertainment {
  display: flex;
  width: 30%;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #ffe15095;
}

.browse-categories > a.active {
  color: #efd150;
}

.browse-world:hover,
.browse-tech:hover,
.browse-entertainment:hover {
  background-color: #333333;
}

.browse-article {
  display: block;
  background-color: #1f1f1f;
  border: 1px outset #1f1f1f88;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 10px 0;
  color: #e1e1e1;
}

.browse-article-title {
  color: #e1e1e1;
  margin: 0 0 5px;
}

.browse-article-source {
  color: #40b167;
}


/* ARTICLE DETAIL VIEW */
.article-section-container {
  padding: 10px 10px 0;
}

.article-container {
  width: 100%;
  padding: 5px 10px;
  font-size: 0.95em;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #444444 inset;
}

.article-header {
  display: flex;
  margin: 5px 0 10px;
}

.article-return {
  height: 30px;
  width: 30px;
  stroke: #a1a1a1;
}

.article-category {
  font-size: 18px;
  padding: 8px 20px 5px;
  border-radius: 20px;
  background-color: #333333;
  color: #dfb700;
  text-shadow: 0 0 1px #bfa700aa;
  width: fit-content;
  margin: 0 0 0 10px;
}

.article-card {
  background-color: #333333;
  padding: 10px;
  border-radius: 10px 10px 5px 5px;
}

.article-image {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.article-image > img {
  width: 100%;
  object-fit: cover;
}

.article-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px 0;
}

.article-source {
  color: #40e167aa;
}

.article-description,
.article-content {
  margin: 10px 10px;
}

.article-title {
  font-size: 1.2em;
}

.article-actions {
  display: flex;
  margin: 5px 10px 0;
  width: 100%;
  justify-content: right;
}

.article-comment,
.article-share {
  display: flex;
  align-items: center;
  color: #ffffcccc;
  width: 100px;
}

.article-comment-icon,
.article-share-icon {
  width: 40px;
  text-align: center;
}

.article-comment-icon {
  stroke: #444444;
}

.article-comment-icon.active {
  stroke: #ffe150;
}

.article-share-icon {
  fill: #444444;
}

.article-comment-icon:hover > svg {
  stroke: #ffe150;
}

.article-share-icon:hover > svg {
  fill: #ffe150;
}

.article-comment-count,
.article-share-count {
  margin: 0 0 0 10px;
}

/* CREATEA ARTICLE COMMENT */
.article-share-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000055;
  z-index: 10;
}

.article-share-container {
  width: calc(1140px * 4/9);
  padding: 15px;
  background-color: #292929cc;
  border-radius: 20px;
  border: 1px solid #444444;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article-share-write {
  width: 100%;
  height: 150px;
  background-color: #333333;
  resize: none;
  border-radius: 10px;
  color: #e1e1e1;
  padding: 5px 10px;
}

.article-share-send {
  margin: 15px 0 0 0;
  height: 40px;
  width: 96px;
  border-radius: 10px;
  background-color: #161616;
  color: #4daeff;
  border: 1px outset #4daeff;
}

.article-share-card {
  display: flex;
  margin: 0 0 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #444444;
}

.article-share-detail {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
}

.article-share-image {
  width: 175px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.article-share-title {
  height: 4em;
  overflow: hidden;
}

.article-share-source {
  overflow: hidden;
  color: #40c157;
  height: 1em;
}

/* ARTICLE COMMENT BOX */
.article-comment-form {
  width: 100%;
}

.article-comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 0;
  box-shadow: 0 0 1px 1px #444444 inset;
}

.article-comment-write {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  resize: none;
  background-color: #333333;
  color: #e1e1e1;
  padding: 5px 10px;
}

.article-comment-submit {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #161616;
  color: #efd150;
  border: 1px outset #efd150;
  margin: 10px 0 0 0;
}

.article-comment-none {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 20px;
  padding: 20px;
  color: #e1e1e1;
  box-shadow: 0 0 1px 1px #444444 inset;
  font-size: 14px;
}

@media(max-width: 575.98px) {
  .article-section-container {
    padding: 0;
  }

  .article-container {
    border-radius: 0 0 10px 10px;
  }
}

@media(max-width: 375px) {
  .article-share-card {
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;

  }

  .article-share-detail {
    margin: 5px 0 0 0;
    width: 175px;
  }
}